section > div.content_goods {}
.content_goods article {}
.content_goods article div {}

/* 상단 카테고리 부분 */
.content_goods article div.category {}
.content_goods div.category ul {
    overflow: hidden;
    padding: 15px 0 16px 16px;
    box-sizing: border-box;
}
.content_goods div.category ul li {
    float: left;
    display: block;
    margin-right: 8px;
    height: 23px !important;
    line-height: 27px;
}
.content_goods div.category ul li select {
    width: 160px;
    border: 1px solid #b9b9b9;
    padding: 3px 0px 3px 9px;
    color: #7b7b7b;
    box-sizing: border-box;
}
/* 중단 상품설명 란 */
.content_goods div.goods_view {border: 1px solid #dbdbdb;}
.content_goods div.goods_view > div {}
/* 상품설명란의 제목부분 */
.content_goods div.goods_view > div.line_title {
    width:100%;
    height: 60px;
    background: #fafafa;
    font-size: 16px;
    border-bottom: 1px solid #dbdbdb;
}
.content_goods div.goods_view > div.line_title ul {overflow: hidden;}
.content_goods div.goods_view > div.line_title ul li:nth-of-type(1) {
    display: block;
    width: 789px;
    padding: 17px 0 19px 20px;
    float: left;
}
.content_goods div.goods_view > div.line_title ul li p:first-of-type {
    float: left;
    color: #2a2a2a;
    font-weight: bold;
}
.content_goods div.goods_view > div.line_title ul li p:last-of-type {
    float: right;
    font-size: 12px;
    line-height: 200%;
    padding-right: 22px;
}
.content_goods div.goods_view > div.line_title ul li p > span {font-weight: bold;}
.content_goods div.goods_view > div.line_title ul li:nth-of-type(2) {
    float: right;
    display: block;
    width: 237px;
    border-left: 1px solid #b9b9b9;
}


/* 상품설명란 메인 */
.content_goods div.goods_view > div.goods_info {
    min-height: 500px;
    padding-left: 39px;
    box-sizing: border-box;
}

.content_goods .goods_info ul {overflow: hidden;}
.content_goods .goods_info ul li {display: block;}


/* 상품설명란 좌측 이미지 부분 */
.content_goods ul li.goods_info_left {
    float: left;
    width: 400px;
    position: relative;
    margin-top: 28px;
    box-sizing: border-box;
    text-align: center;
}
/* div 중앙정렬 - div 를 겹쳐잡고 안쪽 div에 inlune-block 속성 주기*/
.content_goods ul li.goods_info_left > div {display: inline-block;}
.content_goods ul li.goods_info_left > div.goods_info_img {}
.content_goods ul li.goods_info_left > div > img {
    width: 350px;
    height: 350px;
}
.content_goods ul li.goods_info_left > div.goods_info_box {
    margin-top: 10px;
    overflow: hidden;
}
.content_goods ul li.goods_info_left > div.goods_info_box img {
    width: 63px;
    height: 63px;
    float: left;
    margin-left: 8px;
}
.content_goods ul li.goods_info_left > div.goods_info_box img:first-of-type {margin:0}

/* 별점부분 */
.content_goods li.goods_info_left > div.goods_info_bottom {margin-top:15px;}
.content_goods .goods_info_bottom > div.goods_info_bottom_star {
    width: 100%;
    overflow: hidden;
    display: block;
    border: 1px solid #e1e1e1;
    border-width: 1px 0 1px 0;
    padding: 13px 0;
}
.content_goods .goods_info_bottom > div.goods_info_bottom_star span {
    float: left;
    color: #636363;
    width: 33%;
    line-height: 200%;
    vertical-align: middle;
    box-sizing: border-box;
}
.content_goods .goods_info_bottom > div.goods_info_bottom_star span img {
    float: right;
    margin-left: 5px;
}
.content_goods .goods_info_bottom > div.goods_info_bottom_theme {}
.content_goods .goods_info_bottom > div.goods_info_bottom_theme select {
    margin-top: 20px;
    width: 400px !important;
    height: 28px;
    padding-left: 5px;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
}

/* 상품설명란 우측 옵션 부분 */
.content_goods ul li.goods_info_right {
    float: right;
    position: relative;
    width: 560px;
    padding: 24px 63px 0 0;
    box-sizing: border-box;
    line-height: 150%;
}
.content_goods ul li.goods_info_right table {width: 100%;}
.content_goods ul li.goods_info_right table tr {}
.content_goods ul li.goods_info_right table tr td {}
.content_goods ul li.goods_info_right table tr td.tahead {
    width:165px;
    padding: 10px 0 10px 7px; 
}
.content_goods ul li.goods_info_right table tr:nth-of-type(1) td {
    background: #dbdbdb;
    height: 1px;
    width: 100%;
}
.content_goods ul li.goods_info_right table tr:nth-of-type(7) td {
    background: #dbdbdb;
    height: 1px;
    width: 100%;
}
.content_goods ul li.goods_info_right table tr td {}
.content_goods ul li.goods_info_right table tr td:first-of-type {

}
.content_goods ul li.goods_info_right table tr td p {}
.content_goods ul li.goods_info_right table tr td span {
    color:#d00000 !important;
    font-weight: bold;
}
.content_goods ul li.goods_info_right table tr td strong {font-size: 22px;}
.content_goods ul li.goods_info_right table select {
    border: 1px solid #d1d1d1;
}
/* 총금액란 */
.content_goods ul li.goods_info_right table ul.pcount {
    margin-top:5px;
    float: left;overflow: hidden;
}
.content_goods ul li.goods_info_right table ul.pcount li {
    float: left;
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #c2c2c2;
    line-height: 0;
    font-size: 0;
}
.content_goods ul li.goods_info_right table ul.pcount li:nth-of-type(1) {
    background-image: url(/dmall/img/btns/down_arrow.gif);
    border-right: 0;
}
.content_goods ul li.goods_info_right table ul.pcount li:nth-of-type(2) {
    width: 49px;
    border:none;
}
.content_goods ul li.goods_info_right table ul.pcount li:nth-of-type(3) {
    background-image: url(/dmall/img/btns/up_arrow.gif);
    border-left: 0;
}
.content_goods ul li.goods_info_right table ul.pcount li > input {
    width: 40px;
    height: 17px;
    border: 1px solid #d1d1d1;
    text-align: right;
    padding: 0 7px 0 0;
    bottom: 1px;
}
.content_goods ul li.goods_info_right table div.price {float:right;}

/* 구매버튼란 */
.content_goods ul li.goods_info_right table div.goods_info_right_payment {
    padding: 20px 0 50px 0;
    text-align: center;
}
.content_goods .goods_info_right_payment div.goods_info_right_payment {}
.content_goods .goods_info_right_payment ul.goods_info_right_banner {}
.content_goods .goods_info_right_payment ul.goods_info_right_banner li {margin-top: 11px;}



/* 중단 미니샵 */
.content_goods > div.goods_minishop {}
.goods_minishop > article {}
.goods_minishop > article > div {}

.goods_minishop div.line {padding: 20px 0px 20px 0px;}

.goods_minishop div.shop {
    padding: 20px 0 13px 0;
    background: url('/dmall/img/background/diagonal_line.png') left top repeat-x;
    border-bottom: 1px solid #dbdbdb;
    font-size: 11px;
    overflow: hidden;
}
.goods_minishop div.shop > ul {
    float: left;
    width: 256px;
    padding: 0 12px 0 7px;
}
.goods_minishop div.shop ul li {}
.goods_minishop .shop > ul li dl {
    padding: 0 0 12px 0;
    line-height: 150%;
    border-bottom: 1px solid #dbdbdb;
}
.goods_minishop .shop > ul li dl dt {}
.goods_minishop .shop > ul li dl dd {}
.goods_minishop .shop > ul dl.shop_first {}
.goods_minishop .shop > ul dl.shop_second {
    overflow: hidden;
    padding : 10px 0 16px 1px;
    box-sizing: border-box;
}
/* 미니샵 로고란 */
.goods_minishop .shop > ul dl.shop_second dt {
    border: 1px solid #dbdbdb;
    float: left;
}
.goods_minishop .shop > ul dl.shop_second dt img {
    width: 134px;
    height: 50px;
}
.goods_minishop .shop > ul dl.shop_second dd {
    float: left;
    width: 109px;
    padding-left: 10px;
}
.goods_minishop .shop > ul span {font-weight: bold; color:#000;}
.goods_minishop .shop > ul li:last-of-type {
    padding-top: 10px;
    text-align: center;
}

.goods_minishop div.slider {
    width: 773px;
    border-left: 1px dotted #bfbebe;
    font-size: 12px;
    float: left;
    position: relative;
}
.goods_minishop .slider > div {
    width: 713px;
    margin: 0 auto;
    overflow: hidden;
}
.goods_minishop .slider > div > a {
    display: block;
    float: left;
    margin-right: 15px;
    box-sizing: border-box;
}
.goods_minishop .slider > div > a:last-of-type {margin-right: 0;}

/* 슬라이더 좌우꺽쇠 */
.goods_minishop .slider .btns {
    width: 773px;
    position: absolute;
    top: 40%;
    left: 0;
    margin: 0;
}
.goods_minishop .slider .btns > ul {overflow: hidden;}
.goods_minishop .slider .btns > ul > li {
    width: 12px;
    height: 24px;
}
.goods_minishop .slider .btns > ul > li:first-of-type {
    float: left;
    margin-left: 7px;
    background-image: url(/dmall/img/btns/cate_main_promotion_left_on.png);
}
.goods_minishop .slider .btns > ul > li:last-of-type {
    float: right;
    margin-right: 7px;
    background-image: url(/dmall/img/btns/cate_main_promotion_right_on.png);
}
.goods_minishop .slider > div > a  {}
.goods_minishop .slider > div a dl {}
.goods_minishop .slider > div a dl dt {}
.goods_minishop .slider > div a dl dd {}
/* 슬라이더 내부 이미지 */
.goods_minishop .slider > div img {width: 130px; height: 130px;}
.goods_minishop .slider > div p {line-height: 150%;}
.goods_minishop .slider > div strong {font-weight: bold; color:#000;}


/* 하단 상세페이지 */
.content_goods div.goods_detail {}
.goods_detail > article > div {padding-top:40px;}

/* 카테고리 */
.goods_detail > article > div.tabs {overflow: hidden;}
.goods_detail > article > div.tabs > ul {
    float: left;
    overflow: hidden;
}
.goods_detail > article > div.tabs > ul > li {float: left;}
.goods_detail .tabs li:nth-of-type(1) {background-image: url(../img/btns/detail_tab01.gif);}
.goods_detail .tabs li:nth-of-type(2) {background-image: url(../img/btns/detail_tab02.gif);}
.goods_detail .tabs li:nth-of-type(3) {background-image: url(../img/btns/detail_tab03.gif);}
.goods_detail .tabs li:nth-of-type(4) {background-image: url(../img/btns/detail_tab04.gif);}
.goods_detail .tabs li:nth-of-type(5) {background-image: url(../img/btns/detail_tab05.gif);}
.goods_detail .tabs li:nth-of-type(1).on {background-image: url(../img/btns/detail_tab01_on.gif);}
.goods_detail .tabs li:nth-of-type(2).on {background-image: url(../img/btns/detail_tab02_on.gif);}
.goods_detail .tabs li:nth-of-type(3).on {background-image: url(../img/btns/detail_tab03_on.gif);}
.goods_detail .tabs li:nth-of-type(4).on {background-image: url(../img/btns/detail_tab04_on.gif);}
.goods_detail .tabs li:nth-of-type(5).on {background-image: url(../img/btns/detail_tab05_on.gif);}
.goods_detail .tabs li > a {
    display: block;
    width: 210px;
    height: 46px;
    line-height: 50px;
    font-size: 8px;
    text-align: center;
}
.goods_detail .tabs li > a > span {
    font-weight: bold;
    font-size: 10px;
}


/* 상세정보 (카테고리에 맞춰 이하 디테일란이 바뀐다) */
.goods_detail > article > div.wrap {}
.goods_detail .wrap > ul {overflow: hidden;}
.goods_detail .wrap > ul > li {
    float: left;
    margin-left: 26px;
}
.goods_detail .wrap > ul > li:first-of-type {margin-left: 0;}
.goods_detail .wrap > ul > li > img {}

/* 디테일 페이지 내 테이블 규격 */
.goods_detail .wrap h3 {
    margin: 0 0 10px 14px;
    padding-top: 40px;
    font-size: 12px;
}
.goods_detail .wrap table {
    border-top: solid 1px #ddd;
    width:100%;
}
.goods_detail .wrap table tr {}
.goods_detail .wrap table tr td:first-of-type {
    background: #f6f6f6;
    width: 210px;
}
.goods_detail .wrap table tr td {
    border-bottom: solid 1px #ddd;
    padding: 9px 12px;
    font-size: 11px;
    line-height: 140%;
    text-align: left;
}

.goods_detail .wrap > div.main {
    padding-top: 40px;
    text-align: center;
}
.goods_detail .wrap > div.return {}

/* 관련상품 */
.goods_detail > article > div.related {
    margin: 22px 0 0 0;
    width: 100%;
}
.goods_detail .related > ul {overflow: hidden;}
.goods_detail .related > ul > li {
    float: left;
    line-height: 140%;
    width: 145px;
    vertical-align: top;
    margin-left: 30px;
}
.goods_detail .related > ul > li:first-of-type {margin-left: 12px;}
.goods_detail .related > ul > li > img {
    width: 145px;
    height: 145px;
}
.goods_detail .related > ul > li span {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
}


/* 상품평가란 */
.goods_detail > article > div.reviews {}

/* 상품페이지 내 테이블 규격 */
.goods_detail > article > div > h3 {
    padding: 10px 10px 10px 13px;
    font-weight: bold;
    font-size: 13px;
}
.goods_detail > article > div > table {width:100%;}
.goods_detail > article > div > table tr {}
.goods_detail > article > div > table tr > th {
    height: 31px;
    border-top: solid 1px #828282;
    border-bottom: solid 1px #e7e5e5;
    color: #7b7b7b;
}
.goods_detail > article > div > table tr > th:nth-of-type(1) {width:auto;}
.goods_detail > article > div > table tr > th:nth-of-type(2) {width:130px;}
.goods_detail > article > div > table tr > th:nth-of-type(3) {width:110px;}
.goods_detail > article > div > table tr > th:nth-of-type(4) {width:130px;}
.goods_detail > article > div > table tr > td {
    padding: 12px 14px;
    border-bottom: solid 1px #e7e5e5;
    color: #7b7b7b;
    text-align: center;
    line-height: 150%;
}
.goods_detail > article > div > table tr > td dl {overflow: hidden;}
.goods_detail > article > div > table tr > td dl dt {
    float: left;
}
.goods_detail > article > div > table tr > td dl dt img {
    width:88px; 
    height: 88px;
    border: 1px solid #e6e6e6;
}
.goods_detail > article > div > table tr > td dl dd {
    float: left;
    padding-left: 14px;
    text-align: left;
    line-height: 100%;
}
.goods_detail > article > div > table tr > td dl dd p {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
.goods_detail > article > div > table tr > td dl dd span {font-weight: bold;}



/* 질문과답변 */
.goods_detail > article > div.qna {}
.goods_detail > article > div.qna span {
    margin-left: 20px;
    font-size: 11px;
    font-weight: normal;
}
.goods_detail > article > div.qna td {height: auto;}
.goods_detail > article > div.qna td:first-of-type {text-align: left;}
.goods_detail > article > div.qna td:first-of-type img {
    vertical-align: middle;
}
.goods_detail > article > div.qna td:first-of-type span {
    margin-left: 19px;
    font-size: 12px;
    font-weight: bold;
}
.goods_detail > article > div.qna td:last-of-type span {
    display: block;
    width: 45px;
    height: 18px;
    margin: 0 auto;
    background-image: url(../img/icon/reply_complete.gif);
}

/* 정책및공지 */
.goods_detail > article > div.notice {margin-bottom: 40px;}

